.categories-img{
    height: 130px;
}

@media (max-width: 992px) {
    .w-max{
        max-width: 250px !important;
    }

    .categories-img{
        min-width: 100px !important;
        max-height: 250px;
        min-height: 250px;
    }

   
  }