.container{
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
    margin-top: 80px;
}
.img{
    width: 80%;
}

.paragraf{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgb(134, 132, 132);
    font-weight: 700;
    flex-direction: column;
    
   
}
.paragraf h1{
    color: rgb(77, 75, 75);
    font-weight: bold;
}
.paragraf p{
    color: rgb(77, 75, 75);
    font-weight: bold;
    background-color: bisque;
}