.flexContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
     padding-top: 3rem;
     max-width: 1280px;
    margin: auto;
    width: 100%;
   
}
.load{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;

    color:"red"
}
